<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WriteAction</servlet-name>
        <servlet-class>cse.web_project.webprojecct.WriteAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAction</servlet-name>
        <servlet-class>cse.web_project.webprojecct.DeleteAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cse.web_project.webprojecct.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteAction</servlet-name>
        <url-pattern>/WriteAction.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAction</servlet-name>
        <url-pattern>/DeleteAction.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
